<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <title>{% block title %}IRecommend{% endblock %}</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
        <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">

        <!-- title font -->
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">  
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://use.fontawesome.com/35dfb0e796.js"></script>
        <script defer src="{% static 'movierec/js/handlebars-v4.0.11.js' %}"></script>
        
        
        <link rel="stylesheet" type="text/css" href="{% static 'movierec/style.css' %}"/>
</head>


<!-- Uses a header that scrolls with the text, rather than staying
  locked at the top 
    This page is base for logged in state
-->
<div class="mdl-layout mdl-js-layout ">
    <header class="mdl-layout__header mdl-layout__header--scroll">
        <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">
            <a class="navbar-brand" href="{% url 'movierec:movierec' %}" style="color:#fff ; text-decoration: none">IRecommend</a>
        </span>
        <nav class="mdl-navigation">
            <!-- <a class="mdl-navigation__link" href="{% url 'movierec:movierec' %}">movies</a> -->
            <a class="mdl-navigation__link" href="{% url 'movierec:bookrec' %}">Go to books
                <i class="material-icons">book</i>
            </a>
        </nav>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        <nav class="mdl-navigation">

            <!-- Expandable Textfield -->
            <form id='searchbar' role="search" method="POST" action="{% url 'movierec:movierec' %}">
                {% csrf_token %}
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                    <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
                        <i class="material-icons">search</i>
                    </label>
                    <div class="mdl-textfield__expandable-holder">
                        <input class="mdl-textfield__input" type="text" id="sample6" name="q" value="{{ request.POST.q }}">
                        <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
                    </div>
                    </div>
            </form>
      
            
            <a href="{% url 'movierec:logout_user' %}"style="text-decoration:none" class="mdl-button mdl-js-button" >                        
                <i class="material-icons">power_settings_new</i> Logout
            </a>
 
                
        </nav>
        </div>


    </header>


    <div class="mdl-layout__drawer mdl-layout--small-screen-only">
<span class="mdl-layout-title">
            <a class="navbar-brand" href="{% url 'movierec:movierec' %}" style="color:#000 ; text-decoration: none">IRecommend</a>
        </span>
        <nav class="mdl-navigation">
                
                <a class="mdl-navigation__link" href="{% url 'movierec:bookrec' %}">Go to books
                    <i class="material-icons">book</i>
                </a>
                
                    <form id='searchbar-small' role="search" method="POST" action="{% url 'movierec:movierec' %}">
                    {% csrf_token %}
                        <div class="mdl-textfield mdl-js-textfield ">
                            <ul>
                                <label class="mdl-button mdl-js-button mdl-button--icon" for="small-search">
                                    <i class="material-icons">search</i>
                                </label>
                            </ul>
                            <ul>
                                <div class="mdl-textfield">
                                    <input class="mdl-textfield__input" type="text" id="small-search" name="q" value="{{ request.POST.q }}">                        
                                    <label class="mdl-textfield__label" for="sample-expandable">Search Movies</label>
                                </div>
                            </ul>
                        </div>
                    </form>
                
                <a href="{% url 'movierec:logout_user' %}"  class="mdl-button mdl-js-button" >                        
                    <i class="material-icons">power_settings_new</i> Logout
                </a>
                

        </nav>
      </div>
    

    <main class="mdl-layout__content">
        <div class="page-content"><!-- Your content goes here -->
        
            <div id="search-results">

            {% block body %}

            {% endblock %}
            </div>
            
            
        </div>
    </main>



    <footer class="mdl-mega-footer">
        <div class="mdl-mega-footer__middle-section">
    
        <div class="mdl-mega-footer__drop-down-section">
            <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer__heading">Features</h1>
            <ul class="mdl-mega-footer__link-list">
            <li><a href="#">About</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Partners</a></li>
            <li><a href="#">Updates</a></li>
            </ul>
        </div>
    
        <div class="mdl-mega-footer__drop-down-section">
            <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer__heading">Details</h1>
            <ul class="mdl-mega-footer__link-list">
            <li><a href="#">Specs</a></li>
            <li><a href="#">Tools</a></li>
            <li><a href="#">Resources</a></li>
            </ul>
        </div>
    
        <div class="mdl-mega-footer__drop-down-section">
            <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer__heading">Technology</h1>
            <ul class="mdl-mega-footer__link-list">
            <li><a href="#">How it works</a></li>
            <li><a href="#">Patterns</a></li>
            <li><a href="#">Usage</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Contracts</a></li>
            </ul>
        </div>
    
        <div class="mdl-mega-footer__drop-down-section">
            <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer__heading">FAQ</h1>
            <ul class="mdl-mega-footer__link-list">
            <li><a href="#">Questions</a></li>
            <li><a href="#">Answers</a></li>
            <li><a href="#">Contact us</a></li>
            </ul>
        </div>
    
        </div>
    
        <div class="mdl-mega-footer__bottom-section">
        <div class="mdl-logo">Title</div>
        <ul class="mdl-mega-footer__link-list">
            <li><a href="#">Help</a></li>
            <li><a href="#">Privacy & Terms</a></li>
        </ul>
        </div>
    
    </footer>

    </div>

    <script>
        $(function(){
            $(document).on('submit','#searchbar',function(e){
                e.preventDefault();

                $('title').html('Search :'+$('#sample6').val());
                $.ajax({
                    type:"POST",
                    url:"/movierec/search/",
                    data:{                        
                        'q':$('#sample6').val(),
                        'csrfmiddlewaretoken':$("input[name=csrfmiddlewaretoken]").val(),
                    },
                    success:searchSuccess,
                    dataType:'html'
                });
            });

        });
        $(function(){
            $(document).on('submit','#searchbar-small',function(e){
                e.preventDefault();

                $('title').html('Search :'+$('#small-search').val());
                $.ajax({
                    type:"POST",
                    url:"/movierec/search/",
                    data:{                        
                        'q':$('#small-search').val(),
                        'csrfmiddlewaretoken':$("input[name=csrfmiddlewaretoken]").val(),
                    },
                    success:searchSuccess,
                    dataType:'html'
                });
            });

        });

        function searchSuccess(data, texStatus, jqXHR){
            $('#search-results').html(data);   
            $('#search-results').addClass("centre-div");   
        }
    
    </script>

</html>
