{% extends 'movierec/base.html' %}


{% block title %} {{data.Title}} {% endblock %}

{% load staticfiles %}
{% block body %}

<script>
    
        function rate(num){
        
        
            $.ajax({
                type:"POST",
                url:"/movierec/rate/",
                data:{
                    'uid':{{user.profile.u_id}},
                    'imdb':'{{data.imdbID}}',
                    'rating': num,
                    'csrfmiddlewaretoken':$("input[name=csrfmiddlewaretoken]").val(),
                },
                //success:rateSuccess,
                dataType:'html'
            });
        
            console.log('rated '+num);
    
        };
    
        
    
    
    </script>
        

<div class ='content-grid mdl-grid' style='margin:20px' >
    <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">     
        <div style="display: table-row">
            <div style="float:left; width:'340'; margin:20px;">
                <img src="{{data.Poster}}" height="445" width="300">
            </div>
            <div style="margin-left:340px; ">
                <h2 style="font-family: 'Amatic SC', cursive;">{{data.Title}}</h2>
                <h6>A {{data.Production}} production ({{data.Year}}) rated: {{data.Rated}} </h6>                
                <p>{{data.Plot}}</p>
                <p><i>{{data.Genre}} </i></p>
                <p>
                    <strong>
                    Country : {{data.Country}} <br>
                    Box Office : {{data.BoxOffice}}<br>
                    Ratings : 
                    </strong>     
                        {% for source in data.Ratings %}

                            {% with source.Source|slugify as s%}
                                {% with 'movierec/images/'|add:s|add:'.png' as s %}
                                    <img style="margin: 20px 0px 20px 20px; " src="{% static s %} " title="{{source.Source}}" alt="{{source.Source}}">  : {{source.Value}}
                                {% endwith %}
                            {% endwith %}
                        {% endfor %}
                    
                      <br>     
                    {% if rating > 0 %}
                    Previously rated {{rating}} by you. <br>
                    {% endif %}
                    <strong> Rate movie:</strong>
                    
                </p>
                <fieldset class="rating">
                    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars" onClick='rate(5)'></label>
                    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars" onClick='rate(4.5)'></label>
                    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars" onClick='rate(4)'></label>
                    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars" onClick='rate(3.5)'></label>
                    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars" onClick='rate(3)'></label>
                    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars" onClick='rate(2.5)'></label>
                    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars" onClick='rate(2)'></label>
                    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars" onClick='rate(1.5)'></label>
                    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star" onClick='rate(1)'></label>
                    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars" onClick='rate(0.5)'></label>
                </fieldset>

                <p>

                <button class="mdl-button" style="margin-left: 20px;" id="relate">Show related</button>
                <br>
                
                </p>   
            </div>
        </div>
    </div>

    <div class="centre-div" id='related'>

        </div>
</div>

<script>
        $('#relate').click(function(){
        
                
            $.ajax({
                type:"POST",
                url:"/movierec/related/",
                data:{
                    'uid':{{user.profile.u_id}},
                    'imdb':'{{data.imdbID}}',
                    'csrfmiddlewaretoken':$("input[name=csrfmiddlewaretoken]").val(),
                },
                success:relateSuccess,
                dataType:'html'
            });


        });

        function relateSuccess(data, texStatus, jqXHR){        
            $('#related').html(data);
        }
</script>


{% endblock %}

