{% extends 'movierec/base.html' %}
{% block title %}Home{% endblock %}

{% block body %}

<div id="recommendations" class="centre-div">
    <div style="margin : 30px">
        <div class="mdl-spinner mdl-js-spinner is-active" ></div>
        <h4>Please wait fetching recommendations</h4>
    </div>
</div>

<script>
    function fun(){
    
        $.ajax({
            type:"POST",
            url:"/movierec/recommend/",
            data:{
                'uid':{{user.profile.u_id}},
                'csrfmiddlewaretoken':$("input[name=csrfmiddlewaretoken]").val(),
            },
            success:recomSuccess,
            dataType:'html'
        });
    

    };

    fun();

    function recomSuccess(data, texStatus, jqXHR){
        //console.log(data);
        $('#recommendations').html(data);
    }

</script>


{% endblock %}
