{% extends 'movierec/preview_base.html' %}
{% block title %}Log In{% endblock %}

{% block body %}
<div class ='mdl-grid content-grid' style='margin:50px' >

        <div class='mdl-cell mdl-cell--3-col mdl-grid' style=' background-color: rgba(0, 153, 255, 0.226);'>        
            <div class='pan-wide mdl-card mdl-shadow--1dp'>
                    <h3>Log In</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
    
                    <form action="{% url 'movierec:login_user'%}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="mdl-cell mdl-cell--3-col" for="id_username">
                                Username:
                            </label>
                            <div class="mdl-cell mdl-cell--10-col">
                                <input id="id_username" maxlength="30" name="username" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="mdl-cell mdl-cell--3-col" for="id_password">
                                Password:
                            </label>
                            <div class="mdl-cell mdl-cell--10-col">
                                <input id="id_password" maxlength="30" name="password" type="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="mdl-cell mdl-cell--2-col">
                                <button type="submit" class="mdl-js-ripple-effect mdl-button--colored mdl-button mdl-js-button mdl-button--raised btn btn-success">Submit</button>
                            </div>
                        </div>
    
    
                    </form>
                    <div class="mdl-card__supporting-text">
                            Don't have an account? <a href="{% url 'movierec:register' %}">Click here</a> to register.
                    </div>
    
    
            </div>
        </div>
    
    </div>
    
                
                    <!--/div-->

{% endblock %}
