{% extends 'movierec/preview_base.html' %}
{% block title %}Log In{% endblock %}

{% load staticfiles %}
{% block body %}        

    {% block extrastyle %}
    <style type="text/css">
    body {background:url({% static 'movierec/images/welcomebg.jpg'%});}
    </style>
    {% endblock %}

    <div class="container" >

        <div >
            <H3 style="font-family: 'Inter UI',sans-serif ; color:white;">
                Personalised books and movie recommendations 
            </H3>            
        
            <div >
                <H3 style="font-family: 'Amatic SC',cursive ; color:white;">
                        Get started
                </H3>            
                
                <!-- Primary-colored flat button -->                
                <a class="mdl-button mdl-js-button mdl-button--primary" href="{% url 'movierec:login_user' %}">                        
                        Sign In
                </a>
                
                            <!-- Primary-colored flat button -->
                <a class="mdl-button mdl-js-button mdl-button--accent" href="{% url 'movierec:register' %}">
                    Sign Up
                </a>

        </div>
            

        </div>   
        
    </div>
{% endblock %}