<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>lOG IN</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'movierec/formstyles.css' %}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>
</head>

<body>
        <div class="page">
                <div class="container">
                  <div class="left">
                    <div class="login">Register</div>
                    <div class="eula">By signing up you agree to the ridiculously long terms that you didn't bother to read<br>
                        <br>
                        <a href="{% url 'movierec:login_user' %}">Log in</a>
                    </div>
                    
                  </div>
                  <div class="right">
                        
                    <div class="form" >                            
                            <form action="{% url 'movierec:register'%}" method="post" enctype="multipart/form-data">                                
                                {% csrf_token %}
                                {% include 'movierec/form_template.html' %}                                
                                <input type="submit" id="submit" style="margin-top: 20px;" value="Submit">

                            </form>
                            
                    </div>
                        
                  </div>
                </div>
              </div>
                            
</body>
</html>